.journey__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.journey__text {
  text-align: center;
  padding: 0 5rem 5rem 10rem;
}

.journey__item {
  background: none;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.journey__item-image {
  border-radius: 1.5rem;
  height: 220px;
  overflow: hidden;
}

.journey__item-title {
  padding-top: 10px;
  text-align: center;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
  .journey__text {
    padding: 0 0 1.5rem 0.7rem;
  }
  .journey__container {
    grid-template-columns: 1fr 1fr;
    gap: 0rem;
  }
  .journey__item-image {
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .journey__container {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .journey__item-image {
    height: 150px;
  }
}
